<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>
    <add key="MainLanguage" value="zh" />
    <add key="Label" value="无表情|高兴|惊讶|沮丧|恐惧|生气|厌恶|跳过" />
    <!--Save image sample path, sample:D:\data\save-->
    <add key="SampleSavePath" value="" />
    <!--Save image sample path, sample:D:\data\save\info.txt-->
    <add key="InfoSavePath" value="" />
    <add key="FacialCNNModelPath" value="" />
  </appSettings>
</configuration>